header {
    height: 4rem;
}

.searchbar-container {
    max-width: 35rem;
}

.searchbar {
    outline: none;
    border: none;
}

.searchbar-container > img {
    width: 1.5rem;
    aspect-ratio: 1;

    position: absolute;
    right: 0.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}