header {
    height: 4rem;
}

.searchbar {
    max-width: 35rem;
    outline: none;
    border: none;

    background-image: url('/assets/icons/search_blue.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: calc(100% - 0.5rem) center;
    padding-right: 2.5rem;
}