main > .products-section {
    background-color: var(--bg-color);
}
main > .products-section > div {
    height: 22rem;
}

main .products {
    max-width: 100%;
    overflow: hidden;
}

main .products-header {
    height: 4rem;
}

main .products-header img {
    width: 1.5rem;
}

main .products-list {
    max-width: 100%;
}

main .products-list > div {
    width: 12rem;
}

main .products-list > div p 
{
    font-size: 0.9rem;
}

main .products-list .product-img-holder {
    width: 10rem;
    height: 10rem;
}

.categories-section img {
    width: 4rem;
}

.categories-section span {
    font-size: 0.9rem;
}

.categories-section > div::-webkit-scrollbar {
    display: none;
}