main > .products-section {
    background-color: var(--bg-color);
}
main > .products-section > div {
    height: 22rem;
}

main .products {
    max-width: 100%;
    overflow: hidden;
}

main .products-header {
    height: 4rem;
}

main .products-header img {
    width: 1.5rem;
}

main .products-list {
    max-width: 100%;
}

main .products-list > a {
    width: 12rem;
    text-decoration: none;
}

main .products-list > a p 
{
    font-size: 0.9rem;
}

main .products-list .product-img-holder {
    width: 10rem;
    height: 10rem;
}

.categories-section a {
    min-width: 6rem;
}

.categories-section img {
    width: 4rem;
}

.categories-section span {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categories-section > div::-webkit-scrollbar {
    display: none;
}

.category-label-and-arrow > img {
    width: 1rem;
}